.pageBuilderContainer {
  display: flex;
  height: 90vh;
}

.blankContainer {
  flex: 1;
  width: 80%;
  background-color: rgb(237, 241, 244);
  position: relative;
}

.sidebarContainer {
  width: 20%;
  display: flex;
  justify-content: center;
  background: #2d2d2d;
}

.sidebarContainer > div {
  width: 90%;
}

.verticalGripImg {
  height: 20px;
  margin-top: 6.6%;
}

.sidebarContainer > div > div {
  height: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  margin-top: 10px;
  border-radius: 5px;
  width: 96%;
  display: flex;
  gap: 5px;
  padding: 5px;
  cursor: grab
}

.component_selected {
  border: solid red;
}

h3 {
  font-size: 20px;
}

.draggableElem input {
  cursor: grab;
}

.dragging {
  cursor: grabbing;
}
.configBtn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* Media query for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .pageBuilderContainer {
    flex-direction: column;
  }
  .blankContainer,
  .sidebarContainer {
    width: 100%;
  }
  .verticalGripImg {
    margin-top: 5.2%;
  }
}

/* Media query for screens between 600px and 900px */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .blankContainer {
    width: 70%;
  }

  .sidebarContainer {
    width: 30%;
  }

  .verticalGripImg {
    margin-top: 7%;
  }
}

/* Media query for screens between 901px and 1200px */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .blankContainer {
    width: 74%;
  }

  .sidebarContainer {
    width: 26%;
  }

  .verticalGripImg {
    margin-top: 7.5%;
  }
}
